nav ul {
   display: flex;
   flex-direction: row;
   align-items: end;
}

nav {
   display: flex;
   border-radius: 15px;
   background-color: rgb(88, 149, 211);
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   line-height: 18px;
}

.sp1 {
   color: white;
   margin-left: 16px;
}

span {
   margin-left: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a {
   padding: 2px;
   margin-left: 50px;
   text-decoration: none;
   text-transform: uppercase;
   color: black;
}

li {
   list-style: none;
}

div {
   margin: 150px 100px 40px 150px;
}

#im {
   width: 100%;
   height: 220px;
}

#copy8 {
   text-align: center;
   background-color: rgb(88, 149, 211);
   border-radius: 4px;
}

/* about start */
#abim {
   float: right;
   width: 200px;
   height: 180px;
   clear: right;
   margin-left: 10px;
   border-radius: 25px;
}

#abp {
   margin-top: 1px;
   text-align: justify;
   line-height: 23px;
}

.abline {
   margin-top: 10px;
   line-height: 23px;
}

.abu {
   text-transform: capitalize;
}

.abu>li {
   list-style-type: disc;
}

#ifrm {
   background-size: contain;
   width: 100%;
   height: 500px;
}

/* portfolio */

#port1,
#port2 {
   float: left;
   width: 300px;
   height: 150px;
   margin-right: 10px;
}

#mainp {
   margin-left: -0px;
   margin-top: -0px;
}

.pport {
   text-align: justify;
}

/* conatct start*/

#formm {
   margin-top: -15px;
}

#contimg {
   width: 100%;
   height: 350px;
}

/* and */